
/* Global style */
@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-Medium.ttf);
}
*{
    direction: rtl;;
}


body{
    background-color: #DEE6EC;
    transition: all .4s ease-in-out;
    padding-top: 100px;
    margin-right: 300px;
    height: 1000px;

}
body.toggle-aside{
    margin-right: 0;
}

@media(max-width:991px){
    body{
        margin-right: 0;
    }
}

select{
    outline: none;
    width: 200px;
    height: 50px;
    padding: 3px;
    border-radius: 8px;
    border: 1px solid var(--light-1, #999);
    background: var(--light-3, #FFF);

}

.toggle-aside select{
    width: 350px;
}

.primary-button{
    outline: none;
    border: none;
    margin: 0 10px;
    border-radius: 8px;
    background: #9747FF;
    min-width: 200px;
    padding: 15px 10px;
    color:#FFF;
    margin: 5px 10px;

}
.secondary-button{
    outline: none;
    border: none;
    margin: 0 10px;
    border-radius: 8px;
    background: #50BB25;
    min-width: 200px;
    padding: 15px 10px;
    color:#FFF;
    margin: 5px 10px;
}

/* Scroll bar style */

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#FFF;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #234585;
  }
  

/* Scroll bar style */



/* Global style */

/* start Header Style */

.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #b9b6b666;
    font-family: cairo,sans-serif;
    z-index: 9999;

}



.header .logo  img{
    width: 160px;
    height: 60px;


}

@media (max-width:767px){
    .header .search{
        position: fixed;
        top: 80px;
        background-color: #00000069;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 10px;
        left: 0;
        display: none;

        align-items: center;
        justify-content: center;
        visibility: none;
        opacity: 0;
        transition: all .3s ease-in-out;
        z-index: -1;

     
    } 
    .header .search.show{
        opacity: 1;
        display: flex;
        visibility: visible;
        z-index: 999;
    }
    .header .search .search-form{
        position: absolute;
      
        padding: 50px 10px;
        width: 90%;

        /* height: 100vh; */
        border-radius: 10px;
        background-color: white;
    }
    .header  .search .search-form .search-box{
        padding:10px;
        width: 90%;

        width: auto;
        border-radius: 19px;
        background: #D0CFFF;
    }
    .header .logo  img{
        width: 100px;
        height: 40px;
    
    
    }
    .header .right-div > div{
        padding: 0 5px;
        cursor: pointer;
    }
}




@media (min-width:768px) and (max-width:991px){
    .header .left-div > div{
        padding: 0 15px;
        cursor: pointer;
    }
    .header .search{
        position: fixed;
        top: 80px;
        background-color: #00000069;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 10px;
        left: 0;
        display: none;

        align-items: center;
        justify-content: center;
        visibility: none;
        opacity: 0;
        transition: all .3s ease-in-out;
        z-index: -1;
     
    } 
    .header .search.show{
        opacity: 1;
        display: flex;
        visibility: visible;
        z-index: 999;
    }
    .header .search .search-form{
        position: absolute;
      
        padding: 50px 10px;
        width: 90%;

        /* height: 100vh; */
        border-radius: 10px;
        background-color: white;
    }
    .header  .search .search-form .search-box{
        padding:10px;
        width: auto;
        border-radius: 19px;
        background: #D0CFFF;
    }
}

@media (min-width:992px) and (max-width:1199px){
    .header .left-div > div{
        padding: 0 15px;
        cursor: pointer;
    }
    .header .search-box{
        padding:10px;
        width: 300px;
        border-radius: 19px;
        background: #D0CFFF;
    } .header .logo  img{
        width: 120px;
        height: 50px;
    
    
    }
}

@media (min-width:1200px) and (max-width:1399px){
    .header .left-div > div{
        padding: 0 15px;
        cursor: pointer;
    }
    .header .search-box{
        padding:10px;
        width: 350px;
        border-radius: 19px;
        background: #D0CFFF;
    }
    .header .logo  img{
        width: 160px;
        height: 60px;
    }
    
    
}
@media (min-width:1400px){
    .header .left-div > div{
        padding: 0 20px;
        cursor: pointer;
    }   
    .header .search-box{
        padding:10px;
        width: 450px;
        border-radius: 19px;
        background: #D0CFFF;
    }
}

.header .search-box button{
    outline: none;
    border: none;
    background: transparent;
}
.header .search-box input{
    width: calc(100% - 46px);
    border: none;
    outline: none;
    background-color: transparent;
}

.header .messages,
.header .notifications{
    position: relative;
    cursor: pointer;;
}

.header .messages .has_messages{
    position: absolute;
    top: -14px;
    left: 22px;
}
.header .notifications .has_notifications{
    position: absolute;
    top: -14px;
    left: 22px;
}
.header .user{
    position: relative;
}
.header .user::after{
    content: url(../images/arrow.webp);
    position: absolute;
    left: -10px;
    top: 3px;

}
.header .user .user-image img{
    width:40px;
    height: 40px;
    border-radius: 50%;
}
.header .user .user-name{
    padding-right: 14px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


/* End Header Style */


/* Start aside menu Style */

aside.menu{

    position: fixed;
    top:100px;
    right: 0;
    padding:50px 40px;
    width:300px;
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #9F69B8 0%, rgba(77, 139, 204, 0.99) 91.15%);
    transition: all .4s ease-in-out;
    overflow: hidden;
    font-family: cairo,sans-serif;
    z-index: 9999;

}
aside.menu:hover{
  
    overflow: auto;

}
.toggle-aside aside.menu{
    right: -300px;
   
}


aside.menu .user img{
    width:70px;
    height: 70px;
    border-radius: 50%;
}
aside.menu .user h4{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
aside.menu .user span{
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.11px;
}
aside.menu .options li{
    padding: 10px 0;
}

aside.menu .options li a{
    text-decoration: none;
    color:#FFF;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
}
aside.menu .options li a .name{
    padding-right: 15px;
}
aside.menu .options li a svg path{
    transition: all .2s ease-in-out;
}
aside.menu .options li.active a{
   color: #234585;

    
}

aside.menu .options li.active a svg path,
aside.menu .options li.active a svg{
    fill: #234585;
    stroke: #234585;
}
aside.menu .options li:hover a{
    color: #234585;
}
aside.menu .options li:hover a svg path[fill]{
 
    fill: #234585;
}
aside.menu .options li:hover a svg path[stroke]{
 
    stroke: #234585;
}
aside.menu  .sign-out a{
    text-decoration: none;
    color: #FFF;
    transition: all .2s ease-in-out;

}
aside.menu  .sign-out a .name {
    padding-left: 35px;
} 
aside.menu  .sign-out a .icon svg path{
    transition: all .2s ease-in-out;

}
aside.menu  .sign-out a:hover{
    color: #234585;
    stroke: #234585;

}
aside.menu  .sign-out a:hover .icon svg path{
    fill: #234585;

}


@media (max-width:768px){
    aside{
        top:80px !important;
        height: calc(100vh - 80px) !important;

        overflow: scroll;
    }
}

@media(max-width:991px){
    aside.menu{
       right: -300px;
        top: 100px;
        height: calc(100vh - 100px);
        overflow: scroll;


   }
   .toggle-aside aside.menu{
       right: 0;
       overflow: scroll;
   }
  
}
@media(min-width:992px) and (max-width:1199px){
    aside.menu{
         top: 90px;
         height: calc(100vh - 90px);
 
 
    }
}
/* aside scroll */

/* width */
aside.menu::-webkit-scrollbar {
    width: 4px;
    background: transparent;
    height: 100%;

  }
  
  /* Track */
  aside.menu::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  aside.menu::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 20px;
  }
  
 

/* End aside menu Style */




/* Start main section style */

.main{
    padding: 50px 30px;
}

/* End Main section Style */